 .bg-img{
    background-image: url('./Images/Home-Img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
 }
 .bg-clip-text {
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }